.myp {
  margin: 2% 10%;
  font-size: 15px;
  color: #000000;
}

.myh1 {
  margin-top: 2%;
  font-size: 30px;
  color: #000000;
}

a:link {
  color: #000000;
}

/* mouse over link */
a:hover {
  color: #E34A6F;
}

a:visited {
  color: #E34A6F;
}

body {
  background-color: #E6E6E9;
}
